<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ClientCompanion.Properties.Settings>
            <setting name="ReconnectDelay" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="MostRecentHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MostRecentPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MostRecentRemoteHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MostRecentRemotePort" serializeAs="String">
                <value />
            </setting>
            <setting name="MostRecentExampleFile" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Empyrion - Galactic Survival\Content\Configuration\Example_Config.ecf</value>
            </setting>
            <setting name="MostRecentLocalizationFile" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Empyrion - Galactic Survival\Content\Extras\Localization.csv</value>
            </setting>
        </ClientCompanion.Properties.Settings>
    </userSettings>
</configuration>